.faux-link {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

@media (prefers-contrast: forced) {
	.faux-link {
		color:  LinkText;
	}
}

.faux-link:hover,
.faux-link:focus {
	background: yellow;
	box-shadow: 0 0 0 3px yellow;
	outline: 2px solid blue;
	outline-offset: 3px;
	text-decoration: none;
}

[data-link]::before {
	content: "-";
}
